@media (min-width: 350px) {
  .glassmorphism-button {
      width: 100%;
      padding: 25px 25px;
      font-size: 1.2em;
      font-weight: 600;
      color: #333;
      cursor: pointer;
      border: none;
      background: rgba(255, 255, 255, 0.459);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease, background 0.2s ease;
  }

  .glassmorphism-button:hover {
      transform: translateY(-3px);
      background: rgba(255, 255, 255, 0.4);
      color: black;
  }
}