/* Contenedor de la tarjeta */
.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 20rem;
    height: 390px;
    margin: 20px; /* Agrega un margen entre las tarjetas */
}

/* Imagen del asesor */
.advisorImage {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -20px; /* Mueve la imagen para que se superponga al borde de la tarjeta */
    position: relative;
    background-image: url('../../../src/assets/icons/usuario.png');
    background-color: #333;
    background-repeat: no-repeat;
    background-size: 140px; /* Ajusta el tamaño del icono a 70px */
    background-position: center; /* Centra el icono */
}

.advisorName {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}

.testimonial {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-top: 20px;
    text-align: left;
}