@media (min-width: 350px) {
    body {
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        color: #333;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .home-container {
        width: 100vw;
        height: 210vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: url('../../assets/images/home.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        gap: 0.5rem;
        overflow-x: hidden;
    }

    .main-content {
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .glassmorphism-panel {
        width: 100%;
        height: 25rem;
        background: rgba(255, 255, 255, 0.459);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        box-sizing: border-box;
    }

    .main-logo-panel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoHome {
        width: 30rem;
        height: auto;
    }

    .main-buttons-panel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    .GlassmorphismButton1,
    .GlassmorphismButton2,
    .GlassmorphismButton3,
    .GlassmorphismButton4 {

        width: 100%;
    }
}

@media (min-width: 429px) {
    body {
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        color: #333;
        overflow: hidden;
    }

    .home-container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: url('../../assets/images/home.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    .glassmorphism-panel {
        width: 95vw;
        background: rgba(255, 255, 255, 0.459);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    .main-logo-panel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoHome {
        width: 30rem;
        height: auto;
    }

    .main-buttons-panel {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .GlassmorphismButton1,
    .GlassmorphismButton2,
    .GlassmorphismButton3,
    .GlassmorphismButton4 {
        width: 100%;
    }
}

/* Tablet Styles */
@media (min-width: 768px) {
    .main-content {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .glassmorphism-panel {
        width: 95%;
    }

    .main-buttons-panel {
        width: 95%;
    }
}

/* Laptop Styles */
@media (min-width: 1159px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .main-logo-panel {
        width: 50%;
    }

    .logoHome {
        width: 50rem;
    }

    .glassmorphism-panel {
        width: 40%;
        height: 32rem;
    }

    .main-buttons-panel {
        width: 40%;
        height: 32rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .GlassmorphismButton1,
    .GlassmorphismButton2,
    .GlassmorphismButton3,
    .GlassmorphismButton4 {
        width: 100%;
    }
}