.add-advisor-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #495057;
}

.input-group input {
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.input-group input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.toggle-button-container {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.toggle-button {
    width: 180px;
    height: 45px;
    border-radius: 30px;
    background-color: #e74c3c; /* Red */
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.4s ease;
    overflow: hidden;
}

.toggle-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.toggle-button .toggle-switch {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-color: #e2e2e2ce;
    border-radius: 50%;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 1;
}

.toggle-button .toggle-button-text {
    z-index: 2;
    position: relative;
}

.toggle-button.toggled {
    background-color: #2ecc71; /* Green */
}

.toggle-button.toggled .toggle-switch {
    transform: translate(130px, -50%);
}
