@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@media (min-width: 320px) {
  /* Base styles for mobile (320px) */
    .about-us-container {
        background-color: white;
        font-family: 'Poppins', sans-serif;
        color: #333;
        min-height: 100vh;
        padding: 0rem;
        box-sizing: border-box;
    }

    .about-us-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0.5rem;
    }

    .content-left, .content-right {
        width: 100%;
    }

    .team-image {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    .content-right {
        position: relative;
    }

    .about-us-title h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
        margin: 0;
        position: relative;
        font-family: 'Times New Roman', serif;
        border-left: 4px solid #f8c009;
        padding-left: 1rem;
    }

    .about-us-text {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-top: 1rem;
        text-align: justify;
    }

    .quote-mark {
        display: none; /* Hidden on mobile for cleaner look */
    }
}

/* Tablet Styles */
@media (min-width: 768px) {
    .about-us-content {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .content-left {
        flex: 1;
        justify-items: center;
    }

    .team-image {
        height: 20rem;
    }

    .content-right {
        flex: 1;
    }

    .about-us-title h2 {
        font-size: 2.5rem;
    }
}

/* Laptop Styles */
@media (min-width: 1024px) {
    .about-us-content {
        justify-content: center;
        align-items: start;
        flex-direction: row;
        padding: 1rem;
        gap: 20px;
        overflow-y: auto;
        height: 40rem;
        overflow: hidden;
    }

    .content-left {
        flex: 1;
        justify-items: center;
    }

    .team-image {
        height: 40rem;
    }

    .content-right {
        height: 40rem;
    }

    .about-us-title h2 {
        font-size: 3rem;
        border-left: 5px solid #f8c009;
        padding-left: 2rem;
    }

    .about-us-text {
        font-size: 1rem;
        line-height: 1.6;
    }

    .quote-mark {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 10rem;
        font-weight: bold;
        color: #ffd700;
        line-height: 1;
        opacity: 0.5;
        transform: translateY(20%);
    }
}