.container {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 160vh;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navButtonLeft, .navButtonRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navButtonLeft {
    left: 10px;
}

.navButtonRight {
    right: 10px;
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    min-height: 10rem;
    max-height: 10rem;
}

.code {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.info_name_price {
    min-width: 15rem;
    max-width: 15rem;
    min-height: 9rem;
    max-height: 9rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_name_price h2 {
    font-size: 1.1rem;
    word-break: break-all;
}

.specs {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    font-size: 0.9em;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contactAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.advisorInfo {
    display: flex;
    justify-content: center;
}

.advisorImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contactButton {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.favoriteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.favoriteButton img {
    width: 24px;
    height: 24px;
}

.favoriteButton.isFavorite img {
    filter: invert(88%) sepia(61%) saturate(2000%) hue-rotate(35deg) brightness(104%) contrast(101%);
}

.customOptions {
    overflow-x: auto;
    min-width: 30rem;
    max-width: 40rem;
    max-height: 10rem;
}

.customOptions ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;      /* Elimina el padding por defecto */
    margin: 0;       /* Elimina el margen por defecto */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual tamaño */
}

.customOptions ul li {
    /* Estilos opcionales para los elementos de la lista */
    border-radius: 5px;
    text-align: start;
}
